<nav class="navbar navbar-expand-lg navbar-dark", style="background-color:#aed265;">
  <a class="navbar-brand" href="https://sajiblog.com/" target="_blank" >
    <img src="/assets/saji.png" width="30" height="30" alt=""> ChaChat
  </a>
  <div class="navbar-nav">
    <%if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete%>
    <%end%>
  </div>
</nav>
