<nav class="navbar navbar-expand-lg navbar-dark", style="background-color:#aed265;">
  <a class="navbar-brand" href="https://sajiblog.com/" target="_blank" >
    <img src="/assets/saji.png" width="30" height="30" alt=""> ChaChat
  </a>
</nav>
