html {
  font-size: 62.5%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

.f-box {
  display: block;
  box-align: center;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.title {
   font-size: 2.5rem;
   padding: 15px 10px 10px 10px;
   text-align: center;
}

// .title:hover{
//   background-color: rgba(81, 136, 177, 0.8);
// }

.g-list li {
  padding: 5px 15px;
}

// .g-list li:hover{
//   background-color: rgba(81, 136, 177, 0.8);
// }

.g-list li > a {
  width: 200px;
  height: 32px
}

.index-menu {
  padding-bottom: 5px;
  display: inline-block;
}

.room-id {
  list-style: none;
}

.room-id a {
  color: skyblue;
}

main > a {
  color: skyblue;
  display: inline-block;
  padding: 5px;
}

.btn {
  font-size: 1.75rem;  
  margin-bottom: 10px;
}

.side-list {
  margin: 5px;
}

.side-footer {
  height: 20vh;
  margin-top: auto;
  border-top: 1px solid #1e1210;
}

.side-footer a {
  margin:5px;
}

.alert {
  font-size: 1.5rem;
  display: inline-block;
}

input {
  margin: 5px;
}