body {
  font-size: 2rem;
  // font-family: 'Khyay', 'Noto Sans Japanese', sans-serif;
  font-family: 'Khyay', 'Hannari', serif;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template:
      "... ...... ...... ...... ..."
      "... header header hright ..." min(65px)
      "... ...... ...... ...... ..."
      "... center center center ..." 1fr
      "... ...... ...... ...... ..." 
      /auto min(250px) 1fr min(200px) auto;
}

header {
  grid-area: header;
  background-color:#4a154b;
  display: flex;
  align-items: center;
}

.g-list {
  grid-area: hright;
  color: white;
  background-color:#4a154b;
  list-style: none;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}

main {
  grid-area: center;
  background-color: #EEE;
  padding: 20px 15px;
  border-top: 1px solid #1e1210;
}

aside {
  grid-area: left;
  color: white;
  background-color: #4a154b;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #1e1210;
  position: absolute;
  left: -250px;
  width: 250px;
  height: 100%;
  transition: all 0.2s;
} 

@media screen and (max-width: 600px) {
  body {
    font-size: 4rem;
    width: 100%;
    grid-template:
        "header hright" 1fr
        "center center" 12fr
        /7fr 3fr;
  }
  
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 5rem;
  }
  
  .g-list {
    font-size: 2.5rem;
  }
  
  .title {
   font-size: 3.5rem;
  }

  aside {
    min-width: 100vw;
    left: -100vw;
    height: 200%;
  } 

  .header-img {
    height: 70px;
    width: 70px;
  }

  .open,
  .f-box {
    min-height: 70px;
    min-width: 70px;
    text-align: center;
    line-height: 60px;
  }
  
  .nav-title {
    min-height: 12.5vh;
  }
  
}
