.close {
  display:none;
}

#menu[type="checkbox"] {
  position: absolute;
  left: -50vw;
}

#menu[type="checkbox"]:checked ~ aside {
  left: 0;
  z-index: 10;
}

#menu[type="checkbox"]:checked ~ .back {
  position: absolute;
  z-index: 9;
  width: 200%;
  height: 200%;
  background: rgba(0,0,0,0.8);
}

.open {
  padding: 10px;
  margin: 0;
  height: 40px;
}

label {
  margin: 0;
}

.nav-title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1e1210;
}